/* universal selector */
* {
  box-sizing: border-box;
}

/* Global styles for the document (use the body element selector) with background color #FCEBB6; text color #221811; and Tahoma, Arial, or any sans-serif font. */
body {
  margin: 0;
  background-color: #fcebb6;
  color: #221811;
  font-family: Tahoma, Arial, sans-serif;
  background-image: url("images/fadedroad50.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /*image stays put if content eventually needs to be scrolled through */
}
/* styles for main */
main {
  margin-left: 200px;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 0em;
  padding-bottom: 2em;
  display: block;
  background-color: #fef6c2;
  overflow: auto;
}

/* standard styles for images */
img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

/* header styling */
h1 {
  padding: 10px;
  font-size: 2.5em;
}

h2 {
  padding: 5px;
  color: #8c3826;
  font-size: 2em;
  padding-left: 3em;
  padding-right: 2em;
}

h3 {
  padding: 5px;
  color: #8c3826;
  font-size: 1.5em;
  padding-left: 3em;
  padding-right: 2em;
}

h4 {
  background-color: #d2b48c;
  font-size: 1.2em;
  padding-left: 3em;
  padding-right: 2em;
  padding-bottom: 0;
  text-transform: capitalize;
  border-bottom: 1px solid #221811;
  clear: left;
}

/* div styling */
div {
  padding-left: 3em;
  padding-right: 2em;
}

/* list styling */
ul {
  padding-left: 3em;
  padding-right: 2em;
}

dl {
  padding-left: 3em;
  padding-right: 2em;
}

/* Styles for the nav */
nav {
  float: left;
  width: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* nav a styling */
nav a {
  text-decoration: none;
}

nav a:link {
  color: #fef6c2;
}

nav a:visited {
  color: #d2b48c;
}

nav a:hover {
  color: #cc9933;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
}

/* Styles for the header element selector that configure text color #8C3826, background color #D2B48C, and centered text. */
header {
  background-color: #d2b48c;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 240px;
  background-image: url("images/coffeelogo.jpg");
  background-repeat: no-repeat;
  color: #231814;
}

header a {
  text-decoration: none;
}

header a:link {
  color: #231814;
}

header a:visited {
  color: #231814;
}

header a:hover {
  color: #fef6c2;
}

/* Styles for the footer element selector that configure background color #D2B48C, small font size (.60em), italics, and centered text. */
footer {
  border-top: 2px solid #8c3826;
  background-color: #d2b48c;
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  padding: 1em;
}
/* styling for details class */
.details {
  padding-left: 20%;
  padding-right: 20%;
  overflow: auto;
}

/* styling for onethird class */
.onethird {
  float: left;
  width: 33%;
}

/* class to float images on music page */
.floatleft {
  float: left;
  padding-right: 2em;
  padding-bottom: 2em;
}
/* google font class */
.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

/* image css */
.container {
  width: auto;
  height: 300px;
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* wrapper to use as a div in the body on each page */
#wrapper {
  background-color: #231814;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1280px;
  min-width: 900px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

/* paragraph styling */
p {
  padding-left: 3em;
  padding-right: 2em;
}

/* color for list titles on menu */
dt {
  color: #8c3826;
}

/* styling for homehero */
#homehero {
  background-size: 100% 100%;
  width: auto;
  height: 300px;
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* styling for heromugs */
#heromugs {
  background-size: 100% 100%;
  width: auto;
  height: 300px;
  background-image: url("images/heromugs.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* styling for heroguitar */
#heroguitar {
  background-size: 100% 100%;
  width: auto;
  height: 300px;
  background-image: url("images/heroguitar.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* styling to avoid w3c validation error for h4 tag in music */
h3.month {
  background-color: #d2b48c;
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-bottom: 0.25em;
}
